<div class="meniu">
	<ul>
		<li>
			<%= link_to 'Home', '/pages/home' %>
		</li>
		<li>
			<%= link_to 'Events', '/events' %>
		</li>
		<li>
		  <%= link_to 'Contact', '/pages/contact' %>
		</li>

	</ul>

</div>