<h3>Contact</h3>
<table>
<tr>
  <td>Last name:</td><td><input type="text" name="nume"></td>
</tr>
<tr>
  <td>First name:</td><td><input type="text" name="prenume"></td>
</tr>
<tr>
<td>Email:</td> <td><input type="text" name="nume"></td>
</tr>
<tr>
<td>Message:</td> <td><input type="text" name="nume"></td>
</tr>
<tr>
  <td><input type="submit" name="trimite"></td>
  <td><input type="reset" name="sterge"></td>
</tr>
</table>
