body{
  width:900px;
  margin:0 auto;
  margin-top: 20px;
  font-family: Helvetica,"Times New Roman",sans-serif;
  font-size: 14px;
}

div.meniu{
  margin-bottom:30px;
}

div.meniu ul{
  list-style-type: none;
  padding:0;
  margin:0;
  font-size:18px;
}

div.meniu ul li a:link, a:visited{
	font-size: 18px;
	color:#296A8C;
	text-decoration: none;
	font-weight: bold;
}

div.meniu ul li a:hover{
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color:#9C541C;
	background-color:white;
}

a:link,a:visited{
  	color:#296A8C;
}

a:hover{
  color:#9C541C;
	background-color:white;
}