body{
  width:900px;
  margin:0 auto;
  margin-top: 20px;
  font-family: Helvetica,"Times New Roman",sans-serif;
  font-size: 16px;
  background-color:#F4E8E1;
}

div.meniu{
  margin-bottom:30px;
}

div.meniu ul{
  list-style-type: none;
  padding:0;
  margin:0;
  font-size:18px;
}

div.meniu ul li a:link, a:visited{
	font-size: 18px;
	color:#4C6B83;
	text-decoration: none;
	font-weight: bold;
}

div.meniu ul li a:hover{
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color:#8C5E53;
	background-color:#F4E8E1;
}

a:link,a:visited{
  	color:#4C6B83;
  	text-decoration: none;
}

a:hover{
  font-weight: bold;
  color:#8C5E53;
	background-color:#F4E8E1;
	text-decoration: none;
}

table td{
  padding-right:10px;
  padding-left:5px;
}